<!DOCTYPE html>
<html lang="{{locale}}">
  <head>
    <title>{{lookup title @root.locale}}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    {{{contents}}}
  </body>
</html>